<div
  id="container"
  class="container"
  [ngClass]="{ 'sign-in': isSignIn, 'sign-up': !isSignIn }"
>
  <div class="row">
    <!-- SIGN UP -->
    <div class="col align-items-center flex-col sign-up">
      <div class="form-wrapper align-items-center">
        <form [formGroup]="signUpForm" class="form sign-up">
          <div class="input-group">
            <i class="bx bxs-user"></i>
            <input
              type="text"
              class="input"
              placeholder="name"
              formControlName="name"
            />
          </div>

          <div class="input-group">
            <i class="bx bxs-user"></i>
            <input
              type="text"
              class="input"
              placeholder="Username"
              formControlName="username"
            />
          </div>
          <div class="input-group">
            <i class="bx bx-mail-send"></i>
            <input
              type="email"
              class="input"
              placeholder="Email"
              formControlName="gmail"
            />
          </div>
          <div class="input-group">
            <i class="bx bxs-lock-alt"></i>
            <input
              type="password"
              class="input"
              placeholder="Password"
              formControlName="password"
            />
          </div>
          <div class="input-group">
            <i class="bx bxs-lock-alt"></i>
            <input
              type="password"
              class="input"
              placeholder="Confirm password"
              formControlName="confirmPassword"
            />
          </div>
          <button
            type="button"
            class="signInButton"
            [disabled]="SignUpContinue"
            (click)="signUp()"
          >
            Sign up
          </button>
          <p>
            <span>Already have an account?</span>
            <b (click)="toggle()" class="pointer">Sign in here</b>
          </p>
        </form>
      </div>
    </div>
    <!-- END SIGN UP -->

    <!-- SIGN IN -->
    <div class="col align-items-center flex-col sign-in">
      <div class="form-wrapper align-items-center">
        <form [formGroup]="loginForm" class="form sign-in">
          <div class="input-group">
            <i class="bx bxs-user"></i>
            <input
              type="email"
              placeholder="Email"
              class="input"
              formControlName="gmail"
            />
          </div>
          <div class="input-group">
            <i class="bx bxs-lock-alt"></i>
            <input
              type="password"
              placeholder="Password"
              class="input"
              formControlName="password"
            />
          </div>
          <button
            type="button"
            class="signInButton"
            [disabled]="LoginContinue"
            (click)="signIn()"
          >
            Sign in
          </button>
          <p>
            <b>Forgot password?</b>
          </p>
          <p>
            <span>Don't have an account?</span>
            <b (click)="toggle()" class="pointer">Sign up here</b>
          </p>
        </form>
      </div>
    </div>
    <!-- END SIGN IN -->
  </div>

  <div class="row content-row">
    <!-- SIGN IN CONTENT -->
    <div class="col align-items-center flex-col">
      <div class="text sign-in">
        <h2>Welcome</h2>
      </div>
      <div class="img sign-in"></div>
    </div>
    <!-- END SIGN IN CONTENT -->

    <!-- SIGN UP CONTENT -->
    <div class="col align-items-center flex-col">
      <div class="img sign-up"></div>
      <div class="text sign-up">
        <h2>Track Your Money</h2>
      </div>
    </div>
  </div>
</div>
